.form {
    &Input {
        display: flex;
        margin-bottom: 10px;
        & > label {
            width: 20%;
            text-align: left;
        }
        button {
            margin-left: 32px;
            width: 24%;
            background: #000;
            color: #fff;
            border-radius: 50px;
        }
        & > input {
            border-radius: 50px;
            padding: 5px;
        }
    }
    &Content {
        width: 60%;
    }
    &Date {
        width: 30%;
    }
}
